<br>
<br>
<h1>Delete a Gig:</h1>

<%= form_with model: @gig, url: destroy_gig_path do |form| %>
    <% if @gig.errors.any? %>
        <div class="alert alert-danger">
            <% @gig.errors.full_messages.each do |message| %>
                <div><%=message %></div>
            <% end %>   
        </div> 
    <% end %>

    <div class="mb-3">
    <%= form.label :id %>
    <%=  form.text_field :id, class: "form-control", placeholder: "gig id to delete" %>
    </div>  

    <div class="mb-3">
        <%= form.submit "Delete Gig", class: "btn btn-primary" %>
    </div>
<% end %>