<br>
<br>

<h1 style="color:blue;">List Gigs:</h1>


<table>
  <thead>
    <tr>
      <th>Id: &nbsp; </th>
      <th>Name:  &nbsp;</th>
      <th>Start Time: &nbsp; </th>
      <th>Duration: &nbsp; </th>
      <th>Genre: &nbsp; </th>
      <th>Date:  &nbsp;</th>
      <th>Address: &nbsp; </th>
      <th>Phone:  &nbsp;</th>
      <th>Salary: &nbsp; </th>
      <th>Instrument: &nbsp; </th>
      <th>Status: &nbsp; </th>
      <th>Musician Id: &nbsp; </th>
      <th>Planner Id: &nbsp; </th>
      <th>Date Created: &nbsp; </th>
      <th>Description: &nbsp; </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gigs.each do |gig| %>
      <tr>
      <td><%= gig.id   %></td>
      <td><%= gig.name   %></td>
      <td><%= gig.start_time   %></td>
      <td><%= gig.duration   %></td>
      <td><%= gig.genre   %></td>
      <td><%= gig.date   %></td>
      <td><%= gig.address   %></td>
      <td><%= gig.phone   %></td>
      <td><%= gig.salary   %></td>
      <% @instruments.each do |instrument| %>
        <% if  gig.instrument_id == instrument.id %>
            <td><%=  instrument.name %></td>
        <% end %>
      <% end %>    
      <% if gig.status == :planned%>
        <td><%=  Planned %></td>
      <% elseif gig.status == :open %>
        <td><%=  Open %></td>
      <% elseif gig.status == :hired %>
        <td><%=  Hired %></td>
      <% elseif gig.status == :closed %>
        <td><%=  Closed %></td>
      <% elseif gig.status == :cancelled %>
        <td><%=  Cancelled %></td>
      <%else %>
        <td><%= gig.status %></td>
      <% end %>
      <td><%= gig.musician_id %></td>
      <td><%= gig.planner_id %></td>
      <td><%= gig.created_at %></td>
      <td><%= gig.description   %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New gig", gig_path, class: "btn btn-primary mb1 bg-navy"%>
