<br>
<br>

<h1 style="color:blue;">List Gigs:</h1>

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black;
            padding: 1em;
        }
    </style>
    <meta charset="UTF-8">
  </head>

<body>
<table>
  <thead>
    <tr>
      <th>Id: &emsp; </th>
      <th>Name:  &emsp;</th>
      <th>Start Time: &emsp; </th>
      <th>Duration: &emsp; </th>
      <th>Genre: &emsp; </th>
      <th>Date:   &emsp;</th>
      <th>Address: &emsp; </th>
      <th>Phone:  &emsp;</th>
      <th>Salary:  &emsp; </th>
      <th>Status:  &emsp; </th>
      <th>Planner Id:  &emsp; </th>
      <th>Description:  &emsp; </th>
      <th>Instrument(s):  &emsp; </th>
      <th>Inst/Status:  &emsp; </th>
      <th>Inst/Musician:  &emsp; </th>
    </tr>
  </thead>

  <tbody>
    <% @gigs.each do |gig| %>
      <tr>
      <td><%= gig.id   %></td>
      <td><%= gig.name   %></td>
      <td><%= gig.start_time   %></td>
      <td><%= gig.duration   %></td>
      <td><%= gig.genre   %></td>
      <td><%= gig.date   %></td>
      <td><%= gig.address   %></td>
      <td><%= gig.phone   %></td>
      <td><%= gig.salary   %></td>  
      <td><%= gig.status %></td>
      <td><%= gig.planner_id %></td>
      <td><%= gig.description   %></td>
      <% @gig_instruments.each do |gig_instrument| %>
        <% if (gig.id == gig_instrument.gigs_id) %>
            <% @instruments.each do |instrument| %>
                <% if (gig_instrument.instruments_id == instrument.id) %>
                    <td><%= instrument.name %></td> <td><%=gig_instrument.gig_instrument_status %></td>
                    <td><%= gig_instrument.musician_id %></td>
                <% break %>
            <% end %>
            <% end %>
        <% end %>    
      <% end %>    
    <% end %>
  </tbody>
</table>
</body>
</html>
<br>

<%= link_to "New gig", gig_path, class: "btn btn-primary mb1 bg-navy"%>
