<br>
<br>
<h1 style="color:blue;">List Available Users:</h1>

<table>
  <thead>
    <tr>
      <th> Id:  &nbsp; </th>
      <th> Email:  &nbsp; </th>
      <th> First Name: &nbsp;  </th>
      <th> Last Name:  &nbsp;</th>
      <th> Date Created:  &nbsp;</th>
      <th> User Role:   &nbsp;</th>
      <th> Instrument(s):  &nbsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      <td><%=  user.id %></td>
      <td><%=  user.email %></td>
      <td><%=  user.first_name %></td>
      <td><%=  user.last_name %></td>
      <td><%=  user.created_at %></td>
      <td><%=  user.role %></td>
      <% @user_instruments.each do |user_instrument| %>
        <% if (user.id == user_instrument.users_id) %>
            <% @instruments.each do |instrument| %>
                <% if (user_instrument.instruments_id == instrument.id) %>
                    <td><%= instrument.name  %></td>
                <% end %>
            <% end %>
        <% end %>    
      <% end %>    
    <% end %>
</tbody>
</table>

<br>

<%= link_to "New user", sign_up_path, class: "btn btn-primary mb1 bg-navy" %>
